<!--  *ngIf="showAddTransaction" -->
<form class="add-form">
    <div class="form-control-text">
        <label for="description">Description: </label>
        <input type="text" name="description" id="description" [(ngModel)]="description" placeholder="e.g. Gas Purchase">
    </div>
    <div class="form-control-text">
        <label for="day">Day: </label>
        <input type="date" name="day" id="day" [(ngModel)]="day" placeholder="Add Day">
    </div>
    <div class="form-control-text">
        <label for="amount">Amount: </label>
        <input type="number" name="amount" id="amount" [(ngModel)]="amount" placeholder="0">
    </div>
    <app-button bgColor="green" text="Save Transaction" (click)="onSubmit()"></app-button>

    <app-button bgColor="{{ showAddTransaction ? 'red' : 'green' }}" text="{{ showAddTransaction ? 'Close' : 'Add' }}" (click)="toggleAddTransaction()"></app-button>
</form>