<h2>Transactions List</h2>
<div>
    <label for="search"><h4>Search:</h4></label>
    <input type="text" id="searchWord" [(ngModel)]="searchWord">
</div>
<table class="table table-striped table-bordered row-border table-styled">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions | searchFilter:searchWord">
            <td>{{transaction.id}}</td>
            <td>{{transaction.date}}</td>
            <td>{{transaction.amount}}</td>
            <td>{{transaction.description}}</td>
            <td>
                <app-button *ngIf="!showEditTransaction" bgColor="yellow" text="Edit" (click)="onEdit(transaction)"></app-button>
                <app-button *ngIf="!showEditTransaction" bgColor="red" text="Delete" (click)="onDelete(transaction)"></app-button>
            </td>
        </tr>
    </tbody>
</table>