<table class="table table-striped table-bordered row-border table-styled">
    <thead>
        <tr>
            <th>ID</th>
            <th>Day</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions">
            <td>{{transaction.id}}</td>
            <td>{{transaction.day}}</td>
            <td>{{transaction.amount}}</td>
            <td>{{transaction.description}}</td>
            <td>
                <app-button bgColor="yellow" text="Edit" (click)="onEdit(transaction)"></app-button>
                <app-button bgColor="red" text="Delete" (click)="onDelete(transaction)"></app-button>
            </td>
        </tr>
    </tbody>
</table>