<div class="transaction">
    <div class="row">
        <div class="col-7">
            <h3>{{ transaction.description }}</h3>
        </div>
        <div class="col-3 text-right">
            <h4>{{ transaction.day }}</h4>
        </div>
        <div class="col-2">
            <app-button *ngIf="!showEditTransaction" bgColor="yellow" text="Edit" (click)="onEdit(transaction)"></app-button>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <h4>$ {{ transaction.amount }}</h4>
        </div>
        <div class="col-1">
            <p>ID: {{transaction.id}}</p>
        </div>
        <div class="col-2">
            <app-button *ngIf="!showEditTransaction" bgColor="red" text="Delete" (click)="onDelete(transaction)"></app-button>
        </div>
    </div>
</div>