.transaction {
    background: gainsboro;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.transaction h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}