form {
    width: 100%;
    overflow: hidden;
}

input {
    margin-top: 3px;
    width: 100%;
}

span {
    margin-top: 3px;
    display: block;
    overflow: hidden;
    padding-right: 10px;
}

app-button {
    float: right;
    padding-right: 2px;
}